.report-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px 0;
}

.report-container > div {
  flex: 1;
  text-align: center;
}

.report-container > div:first-of-type {
  border-right: 1px solid rgb(196, 191, 174);
}

.report {
  font-size: 20px;
  letter-spacing: 1px;
}
.report.totalIncome {
  color: rgb(69, 204, 69);
}

.report.totalExpense {
  color: red;
}
